body {
    font-family: Young Serif, Outfit, Arial;
    background-color: hsl(30, 54%, 90%);
    font-weight: 400;
    width: 100vw;
    max-width: 100vw;
}

@media (max-width: 480px) {
    body {
        margin: 0px;
    }
}

h1, h2, h3 {
    font-weight: 400;
}

h2 {
    margin: 20px 0px;
}

p {
    margin: 0px;
    font-family: Outfit, Arial;
    font-weight: 400;
    font-size: 16px;
    word-spacing: 2px;
    color: hsl(30, 10%, 34%);
}

ol {
    font-family: Outfit, Arial;
}

li {
    margin: 0px;
}

li + li {
    margin-top: 6px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 28px;
}

@media (max-width: 480px) {
    section {
        margin: 0px 32px;
    }
}



.container-main {
    background-color: white;
    margin: 100px auto auto;
    padding: 44px;
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 88px;
}

@media (max-width: 480px) {
    .container-main {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        border-radius: 0px;
        padding-bottom: 32px;
    }
}



.image-dish {
    border-radius: 20px;

    transition: box-shadow 0.3s;
}

@media (max-width: 480px) {
    .image-dish {
        border-radius: 0px;
        width: 100vw;
        margin: 0px;
    }
}

.image-dish:hover {
    box-shadow: 0px 0px 12px hsl(30, 18%, 87%);
}



.text-title {
    margin-bottom: 16px;
    color: hsl(24, 5%, 18%);
    font-size: 42px;
    margin-top: 30px;
}

@media (max-width: 480px) {
    .text-title {
        margin: 30px 16px 32px 32px;
    }
}

.text-dish-details {
    margin-top: 0px;
    margin-bottom: 32px;
}

.container-preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 24px;
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.text-title-preparation-time {
    color: hsl(332, 51%, 32%);
    margin: 0px;
    margin-bottom: 8px;
    font-family: Outfit, Arial;
    font-weight: 600;
}

.list-details-preparation-time {
    line-height: 28px;
    margin: 0px 0px;
    padding: 0px 20px;
}

.bullet-details {
    color: hsl(332, 51%, 32%);
    font-size: 12px;
}

.bullet-details > p {
    margin-left: 16px;
}

.text-bold-keyword {
    font-weight: 600;
}



.text-section-title {
    color: hsl(14, 45%, 36%);
    font-size: 30px;
}

.list-ingredient {
    padding: 0px 8px;
    margin: 12px;
    line-height: 28px;
}

.bullet-ingredients {
    color: hsl(14, 45%, 36%);
    font-size: 12px;
}



.bullet-ingredients > p, .bullet-instruction > p {
    margin-left: 16px;
}



.list-instructions {
    padding: 0px 8px;
    margin: 12px;
    line-height: 28px;
}

.bullet-instruction {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.text-bold-instruction {
    font-weight: 600;
}



.table-nutrition {
    margin-top: 32px;
}

.div-data-nutrition {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div-data-nutrient {
    flex: 1;
    padding-left: 32px;
}

.div-data-value {
    flex: 1;
}

.div-data-value > p {
    font-weight: 600;
    color: hsl(14, 45%, 36%)
}

.line-table-divider {
    margin: 12px 0px;
}



.attribution { 
    font-size: 11px;
    text-align: center; 
}
        
.attribution a { 
    color: hsl(228, 45%, 44%); 
}