body {
    font-family: Young Serif, Outfit, Arial;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    align-items: center;
}

h1, h2, h3 {
    font-weight: 400;
}

p {
    margin: 0px;
    font-family: Outfit, Arial;
    font-weight: 400;
    font-size: 16px;
    word-spacing: 2px;
    color: hsl(30, 10%, 34%);
}

li {
    margin: 0px;
}

li + li {
    margin-top: 6px;
}

.container-main {
    background-color: white;
    margin: 88px 0px;
    padding: 44px;
    width: 700px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.image-dish {
    border-radius: 20px;

    transition: box-shadow 0.3s;
}

.image-dish:hover {
    box-shadow: 0px 0px 12px hsl(30, 18%, 87%);
}

.text-title {
    margin-bottom: 16px;
    color: hsl(24, 5%, 18%);
    font-size: 42px;
    margin-top: 30px;
}

.text-dish-details {
    margin-top: 0px;
    margin-bottom: 32px;
}

.container-preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 24px;
    border-radius: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.text-title-preparation-time {
    color: hsl(332, 51%, 32%);
    margin: 0px;
    margin-bottom: 8px;
    font-family: Outfit, Arial;
    font-weight: 600;
}

.bpoints-details-preparation-time {
    line-height: 28px;
    margin: 0px 0px;
    padding: 0px 20px;
}

.bullet-details {
    color: hsl(332, 51%, 32%);
    font-size: 12px;
}

.text-bold-keyword {
    font-weight: 600;
    margin-left: 16px;
}

.text-section-title {
    color: hsl(14, 45%, 36%);
    font-size: 26px;
}

.bpoints-ingredient-list {
    padding: 0px 8px;
    margin: 12px;
    line-height: 28px;
}

.bullet-ingredients {
    color: hsl(14, 45%, 36%);
    font-size: 12px;
}

.bullet-ingredients > p {
    margin-left: 16px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
        
.attribution a { 
    color: hsl(228, 45%, 44%); 
}